
body {
    background-color: rgb(27, 26, 26);
    font-family: 'Arima Madurai', cursive;
    /*font-family:'Sacramento', cursive;*/
    font-size: 25px;
    --main-color: rgb(219, 235, 202);
    color: var(--main-color);
}

.container {
    display: grid;
}

.header,
.body {
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
}

.title,
.book-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.catalog-item {
    align-self: flex-start;
}

.book-catalog {
    flex-direction: column;
    line-height: 0%;
}

.title {
    font-size: 65px;
    gap: 1.5rem;
}

.title>img {
    width: 7.5rem;
    -webkit-filter: invert(80%);
    filter: invert(80%);
}


form[name="book-form"] {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    gap: 15px;
    justify-items: center;
    --main-bg: rgb(56, 57, 56);
}

input[type='text'] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-bottom: solid 5px var(--main-color);
    font-size: 1rem;
    background-color: var(--main-bg);
    color: var(--main-color);
}

button[type='submit'] {
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    width: 10rem;
    height: 4rem;
    background-color: var(--main-bg);
    color: var(--main-color);
    border: solid 5px var(--main-color);
    border-radius: 15px;
}