
body {
    background-color: rgb(27, 26, 26);
    color: rgb(219, 235, 202);
    font-family: 'Arima Madurai', cursive;
    /*font-family:'Sacramento', cursive;*/
    font-size: 25px;
}

.container {
    display: grid;
}

.header,
.body {
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
}

.title,
.book-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 65px;
    gap: 1.5rem;
}

.title>img {
    width: 7.5rem;
    -webkit-filter: invert(80%);
    filter: invert(80%);
}